@page "/"

<PageTitle>Novels</PageTitle>

@switch (AppMode) {
    case AppMode.Boot:
        if (DataSet.IsReady) {
            SetAppMode.InvokeAsync (AppMode.Books);
        } else {
            <div class="mud-overlay mud-overlay-dialog mud-skip-overlay-section mud-skip-overlay-positioning">
                <div class="mud-overlay-scrim mud-overlay-dark d-flex justify-center align-center">
                    <MudProgressCircular Indeterminate="true" Rounded Size="Size.Large" />
                </div>
            </div>
        }
        break;
    case AppMode.Books:
        <Books Identity="Identity" Book="Book" />
        break;
    case AppMode.Publish:
        <Publish Identity="Identity" Book="Book" />
        break;
    case AppMode.Contents:
        <Sheets Identity="Identity" Book="Book" />
        break;
    case AppMode.Read:
        <Read Identity="Identity" Book="Book" />
        break;
    case AppMode.Settings:
        <Settings Identity="Identity" Book="Book" />
        break;
    default:
        break;
}
